.container {
  text-align: left;
  border: 0 150px 0 150px;
  padding-left: 200px;
  padding-right: 200px;
}
/*big thing up top*/
.hero-container {
  position: relative;
  text-align: center;
  color: white;
}

.overlay {
  position: absolute;
  width:100%;
  top: 20%;
  background:#000;
  opacity:.7;
}

.hero-image{
    width: 100%;
}

.hero-hed{
  padding-top:10px;
  margin:0 auto;
  font-size:6em;
  font-family: 'Montserrat', sans-serif;
  padding-bottom:100px;
  color:#fff;
}

.hero-sub {
  font-family: Georgia, serif;
  font-size:.25em;
}

.red {
    color: #F23030;
}
/*end big thing*/

.headline{
  font-size: 3em;
  font-weight: 600;
  text-align: left;
  font-family: 'Montserrat',sans-serif;

}

.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

p{
  font-family: Georgia, serif;
  line-height: 175%;
}

.chapter{
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: Red;
  text-transform: uppercase;
}
/*acknowledgment at bottom*/

.ack{
  font-style: italic;
}
/*block quote*/
.quote{
  background-color: lightgrey;
  color: red;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  text-align: left;
  padding: 20px 0 20px 10px;
  border: 1px solid red;
  margin-top:20px;
  margin-bottom:20px;
}

.whosaid{
  font-size:.5em;
  font-family: Georgia, serif;
  font-weight:100;
  text-align:left;
  color:#000;
}
/*2018 stats*/
.text-box{
  background-color: lightgrey;
  width: 75%;
  margin: 0 auto;
  border: solid grey 1px;
  margin-top:20px;
  margin-bottom:20px;

}

.box-title{
  color:	black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.text-box{
  padding-left: 2em;
  padding-right: 2em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: left;
  color: black;
}

.intro{
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  text-align: left;
}

.source{
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: 'Montserrat', sans-serif;
  font-size: .70em;
  text-align: left;
  color: black;
}
/*image captions*/
.caption {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-bottom:30px;
  font-family: Georgia, serif;
  color:#999;
  font-size:.85em;
}
/*image settings*/
  .thebigone {
      width:100%;
  }

  /* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: orange;
}

  @media(max-width:800px) {

  .hero-hed {
    font-size:3em;
  }
  .container{
  padding-left: 20px;
  padding-right: 20px;
  }
  .headline{
    font-size: 2em;
  }
  .byline{
    font-size: 0.5em;
  }
  .box-title{
    font-size: 0.5em;
  }
  .text-box{
    width: 100%;
    font-size: 1em;
  }
  .intro{
    font-size: 1em;
  }
